@keyframes slidein{
    from{ 
        margin-left: 100%;
        width: 0%;
    }
    to{ 
        font-size: 100%;
        margin-left: 0%;
        width: 40%;
    }
}

.page {
    opacity: 1;
    transition: opacity 10s ease-in-out;
  }
  
  .page.fade-out {
    opacity: 0;
  }
