.cart-menu{
    transition: 0.3s;
}
.bar{
    -webkit-transition: all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.btn{
    transition: all 0.2s;
}
.navbtn{
    transition: 0.7s ease;
}
.nav-link{
    transition: 0.7s ease;
}

#carousel__left-arrow {
    transition: transform 0.3s ease;
}

#carousel__left-arrow:hover {
    transform: translateX(-5px);
}
#carousel__right-arrow {
    transition: transform 0.3s ease;
}
    
#carousel__right-arrow:hover {
    transform: translateX(5px);
}

