@keyframes slidein{
    from{ 
        margin-left: 100%;
        width: 0%;
    }
    to{ 
        font-size: 100%;
        margin-left: 0%;
        width: 40%;
    }
}
.fade-in-element {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
  }
#carousel__left-arrow {
transition: transform 0.3s ease;
}

#carousel__left-arrow:hover {
transform: translateX(-5px);
}
#carousel__right-arrow {
    transition: transform 0.3s ease;
}
    
#carousel__right-arrow:hover {
    transform: translateX(5px);
}