:root {
    --color-primary-text: #4B4538;
    --color-light-text:#D2E0D9;
    --color-dark-text: #103320;

    --color-cta:#206540;
    --color-hover:#D2E0D9;
    --color-btn-border:#206540; 

    --color-background:#FDF7EA;
    --color-sec-background: #F6EFDF;

    --color-payment-box-header: #EEE7D9;
    --color-payment-box: #E4DDCE;
    --color-white: #FEFEFE;
    --color-disabled: #c3cbc6c5;
} 