@import url(spacing.css);
.stack{
    /* --space: 1.5rem; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.stack--menu-item{
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

.stack > * {
    margin-top: 0;
    margin-bottom: 0;
}

.stack > * + * {
    margin-top: var(--space-sm)
}

.cluster{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 0.25rem; */
}
.cluster--flex-end{
    justify-content: flex-end;
}

/* In order to make an element be on top */
.stack-top{
    z-index: 9;
}

.stack-most-top{
    z-index: 10;
}

/* sidebar */
.sidebar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar{
    flex-basis: 40rem;
    flex-grow: 1;
}

.not-sidebar{
    flex-basis:0;
    flex-grow:4;
    min-width:40%;
}

/* grid layout */
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20em;
    grid-gap:var(--space-lg) var(--space-lg);
    margin-top: var(--space-sm);
    justify-content: start;
}

.grid-container--2r{
    grid-template-rows: repeat(2, 20em);
}

.grid-container--3r{
    grid-template-rows: repeat(3, 20em);
}

.grid-container--5r{
    grid-template-rows: repeat(5, 20em);
}

.grid__item--1{
    grid-column: 1/2;
}

.grid__item--2{
    grid-column: 2/3;
}

.grid__item--3{
    grid-column: 3/4;
}

.grid__item--4{
    grid-column: 4/5;
}
/* ----------------Carousel------------------- */
.grid-container--carousel{
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 0 16em 0;
    grid-template-areas: 
    "left-arrow prev-1 prev-2 prev-3 right-arrow"
    "left-arrow active-1 active-2 active-3 right-arrow"
    "left-arrow next-1 next-2 next-3 right-arrow";
    justify-content: center;
    margin-top: 0;
}
#carousel__left-arrow{
    grid-area: left-arrow;
}
#carousel__right-arrow{
    grid-area: right-arrow;
}
.carousel__active--1{
    grid-area: active-1;
}
.carousel__active--2{
    grid-area: active-2;
}
.carousel__active--3{
    grid-area: active-3;
}
.carousel__next--1{
    grid-area: next-1;
}
.carousel__next--2{
    grid-area: next-2;
}
.carousel__next--3{
    grid-area: next-3;
}
.carousel__prev--1{
    grid-area: prev-1;
}
.carousel__prev--2{
    grid-area: prev-2;
}
.carousel__prev--3{
    grid-area: prev-3;
}

/* Order Page Grid */
.grid-container--order{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "options background-fill"
    "order order-cart";
}
#options{
    grid-area: options;
}
#order{
    grid-area: order;
}


/* Screen size larger than 1440px */
@media screen and (min-width: 1440px){
    .grid-container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 20em;
        grid-gap:var(--space-5xl) var(--space-xl);
    }
    .grid-container--home{
        grid-template-columns: repeat(5, 1fr);
    }
    .grid-container--2r{
        grid-template-rows: repeat(2, 20em);
    }
    .grid-container--3r{
        grid-template-rows: repeat(3, 20em);
    }

    .grid__item--5{
        grid-column: 5/6;
    }

}
/* Viewport for Tablet size */
@media screen and (min-width: 768px) and (max-width:1023px){
    .grid-container{
        grid-template-rows: 14em;
        grid-gap: var(--space-lg) var(--space-lg);
    }
    

    .grid-container--2r{
        grid-template-rows: repeat(2, 14em);
    }

    .grid-container--3r{
        grid-template-rows: repeat(3, 14em);
    }

    .grid-container--5r{
        grid-template-rows: repeat(5, 14em);
    }

}
/* Viewport for Table to mobile */
@media screen and (width < 768px){
    .grid-container{
        grid-template-columns: repeat(2, 0.8fr);
        grid-template-rows: repeat(2, 14em);
        grid-gap: var(--space-xxl) var(--space-lg);
    }
    /* use javascript to add grid-container--2r class */
    /* Convert grid 2 rows to 4 rows */
    .grid-container--2r{
        grid-template-rows: repeat(4, 14em);
    }
    .grid__item--3{
        grid-column: 1/2;
    }
    .grid__item--4{
        grid-column: 2/3;
    }

    .grid-container--home{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 12em;
        justify-content: center;
        margin-top: 0;
    }
    /* Use javascript to make it grid__item--1 or CSS it */
    .grid__item--2--home{
        grid-column: 2/3;
    }

    /* Order Page Grid */
    .grid-container--order{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "options"
        "order"
        "order-cart";
}
}


