@import url(spacing.css);
.stack{
    /* --space: 1.5rem; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.stack > * {
    margin-top: 0;
    margin-bottom: 0;
}

.stack > * + * {
    margin-top: var(--space-sm)
}

.cluster{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-bottom: 0.25rem; */
}

/* In order to make an element be on top */
.stack-top{
    z-index: 9;
}

.stack-most-top{
    z-index: 10;
}

/* sidebar */
.sidebar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar{
    flex-basis: 40rem;
    flex-grow: 1;
}

.not-sidebar{
    flex-basis:0;
    flex-grow:4;
    min-width:40%;
}

/* grid layout */
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20em;
    grid-gap:var(--space-lg) var(--space-lg);
    margin-top: var(--space-sm);
    justify-content: start;
}
.grid-container--2r{
    grid-template-rows: repeat(2, 20em);
}

.grid-container--3r{
    grid-template-rows: repeat(3, 20em);
}

.grid-container--5r{
    grid-template-rows: repeat(5, 20em);
}

.grid__item--1{
    grid-column: 1/2;
}

.grid__item--2{
    grid-column: 2/3;
}

.grid__item--3{
    grid-column: 3/4;
}

.grid__item--4{
    grid-column: 4/5;
}

/* Order Page Grid */
.grid-container--order{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "options background-fill"
    "order order-cart";
}

/* Screen size larger than 1440px */
@media screen and (min-width: 1440px){
    .grid-container{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 20em;
        grid-gap:var(--space-5xl) var(--space-xl);
    }
    .grid-container--2r{
        grid-template-rows: repeat(2, 20em);
    }

    .grid__item--5{
        grid-column: 5/6;
    }

}
/* Viewport for Tablet size */
@media screen and (min-width: 768px) and (max-width:1023px){
    .grid-container{
        grid-template-rows: 14em;
        grid-gap: var(--space-lg) var(--space-lg);
    }
    .grid-container--2r{
        grid-template-rows: repeat(2, 14em);
    }

}
/* Viewport for Table to mobile */
@media screen and (width < 768px){
    .grid-container{
        grid-template-columns: repeat(3, 0.8fr);
        grid-gap: var(--space-md) var(--space-md);
    }
    /* use javascript to add grid-container--2r class */
    .grid-container--2r{
        grid-template-rows: repeat(2, 14em);
    }

    .grid__item--4{
        grid-column: 1/2;
    }

    .grid-container--home{
        grid-template-columns: 0.8fr;
        grid-template-rows: 12em;
        justify-content: center;
        margin-top: 0;
    }
    /* Use javascript to make it grid__item--1 or CSS it */
    .grid__item--2--home{
        grid-column: 1/2;
    }
}


