@import url(spacing.css);
.stack{
    /* --space: 1.5rem; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.stack > * {
    margin-top: 0;
    margin-bottom: 0;
}

.stack > * + * {
    margin-top: var(--space-sm)
}

.cluster{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* margin-bottom: 0.25rem; */
}


.stack-top{
    z-index: 9;
}

.stack-most-top{
    z-index: 10;
}
