@import url(colour.css);
@import url(typography.css);
@import url(spacing.css);
@import url(layout.css);

:root{
    font-family: var(--font-primary);
    color: var(--color-primary-text);
}

body{
    background-color: var(--color-background);
}

a{
    text-decoration: none;
}

section{
    padding: 3%;
}

header, footer{
    color: var(--color-light-text);
    background-color: var(--color-cta);
    display: flex;
}
/* Header */
header{
    flex-direction: row;
    padding: 3%;
    position: sticky;
    top: 0%;
}
footer{
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
    align-items: center;
}
.footer__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.2rem;
}
.footer__column__element{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.footer__column__element > p{
    font-size: var(--text-sm);
    margin: auto 0;
}

.footer__column__icon{
    width: 1rem;
    /* align-self: center; */
}

#copyright{
    align-self: flex-end;
}

/* Navbar */
#navbar{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}

.navbtn{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5em 1em;
    gap: 0.5rem;

    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-size: var(--text-lg);
}

#hamburger{
    display: none;
}

#logo{
    width: 58px;
    height: 62px;
}

/* Hero section */
#hero{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), url(/UIDev-A3/images/Hero-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding: 5%; */
    color:var(--color-dark-text);
    justify-content: center;
    text-align: left;
}

.hero__description{
    font-size: var(--text-lg);
    font-weight: var(--font-semibold);
}



/* Button variations */
.btn{
    text-align: center;
	text-decoration: none;
	display: inline-block;
	box-sizing: border-box;
	padding: 0.5em 1.2em;
	transition: all 0.2s;

    border-radius: 10px;
    font-size: var(--text-lg);
    color:var(--color-dark-text);
}

.btn:hover{
    background-color: var(--color-hover);
    transform: translateY(-0.1em);
    box-shadow: 0 0.5em 0.5em -0.4em black;
}

.btn:focus{
    outline: none;
    box-shadow: 0 0 0 5px rgba(244,94,108,0.4);
}

.btn-disabled{
    background-color: #ccd4d0;
    color:white;
    cursor:not-allowed
}

.btn-rounded{
    border-radius: 2em;
}

.btn--hero{
    background-color: var(--color-hover);
    margin-top: 1.5em;
}

.btn--primary{
    background-color: var(--color-cta);
    color: var(--color-light-text);
}

.btn--secondary{
    background-color: var(--color-background);
    color: var(--color-cta);
    border: var(--color-cta) 3px solid;
}

/* sidebar */
.sidebar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar{
    flex-basis: 40rem;
    flex-grow: 1;
}

.not-sidebar{
    flex-basis:0;
    flex-grow:999;
    min-width:40%;
    max-width: 60%;
}

/* About section */
#about{
    padding: 0;
    background-color: var(--color-sec-background);
}
.about__cta{
    padding: 3%;
    max-width: 40%;
}

.about__image{
    padding: 2em;
    border-radius: 5rem;
    margin: auto;
    max-width: 40%;
}

/* Menu section */
#menu{
    display: flex;
    flex-direction: column;
    gap:2em;
}
/* Menu carousell showing list of products */
.carousell{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 2rem;
}
/* Individual Menu item module */
.menu-item{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-direction: wrap;

    box-sizing: border-box;
    width: 25%;
    border: 1px solid #4B4538;
    border-radius: 0.5rem;

    align-items: center;
    text-align: center;
    justify-content: flex-end;

    gap:0.5rem;
    padding: 0.4em;
    padding-top: 10%;
    margin-top: 4rem;
}

.menu-item__img{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    object-fit:cover;
    position: absolute;
    bottom: 10%;
    transform: translate(0%, -80%);
}

.menu-item__text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.5em;
}

.menu-item__text__name{
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: auto;
}
/* The 3 circles below the menu items */
.carousell__pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.carousell__pages__dot{
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-color:  var(--color-hover);
    border-radius: 50%;
    margin-bottom: 1em;
}
.carousell__pages__dot:hover{
    transform: translateY(-0.1em);
    box-shadow: 0 0.5em 0.5em -0.4em black;
}
.carousell__pages__dot:active{
    background-color: var(--color-cta);
}

/* Order Page */
#options{
    padding: 1% 3%;
}
.order__form{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    color: var(--color-primary-text);
}
.form__heading{
    font-size: var(--text-lg);
}
.form__elements{
    align-items: flex-start;
    gap: 0.5rem;
}
.form__elements__pair{
    gap: 0.25rem;
}
.form__elements__label{
    font-size: var(--text-sm);
    margin-bottom: var(--space-sm);
    opacity: 80%;
}
.form__elements__textbox{
    border-radius: 0.5em;
    border:none;
    background-color: var(--color-hover);
    padding: 0.5em;
    height:1.4rem;
    line-height: var(--body-line-height);
}
.form__elements__pair--forty{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
/* Viewport between 768px -> 1023px */
@media screen and (min-width: 768px) and (max-width:1023px) {
    /* All pages */
    #logo{
        scale: 0.75;
    }
    /* End of All pages */
    /* Homepage */
    .carousell{
        padding-top: 3em;
    }
    .carousell__arrow{
        display: block;
        height:2rem;
    }
    .menu-item{
        width:25%;
        padding-top: 5%;
    }
    .menu-item__img{
        width: 7em;
        height: 7em;
    }
    /* End of homepage */
}
/* Viewport between Tablet and mobile */
@media screen and (width < 768px){
    /* All pages */
    #logo{
        scale: 0.5;
    }
    footer{
        flex-direction: column;
        gap: 1.25em;
        text-align: center;
    }
    #copyright{
        align-self: center;
    }
    .footer__column{
        justify-content: center;
        align-items: center;        
    }
    .footer__column:nth-of-type(1){order: 1;}
    .footer__column:nth-of-type(2){order: 3;}
    .footer__column:nth-of-type(3){order: 2;}
    }   
    /* End of All pages */
    /* Homepage */
    .about__cta{
        max-width: 100%;
    }
    .about__image{
        max-width: 100%;
    }

    #menu{
        gap:1em;
    }
    .carousell{
        gap: 2em;
        padding-top: 1em;
    }
    .menu-item{
        width: auto;
        /* margin-top: 2em; */
    }
    .menu-item__img{
        width: 7rem;
        height: 7rem;
        transform: translate(0%, -90%);
    }
    .carousell__arrow{
        display: none;
        height: 2em;
    }
    .mob-hidden{
        display: none;
    }
    /* End of homepage */

/* Viewport for mobile */
@media screen and (width<=425px){
    /* All Pages */
    .navbtn{
        display: none;
    }

    #hamburger{
        display: block;
        padding: 0.25em;
    }

    #cart{
        display: block;
        padding: 0.25em;
    }
    /* End of All pages */
    /* Homepage */
    #menu, #about, #hero{
        text-align: center;
    }
}   
/* Viewport larger than 1440px */
@media screen and (width>1440px){
    /* Homepage -> Menu section */
    .menu-item{
        width: 20%;
    }
    .menu-item__img{
        width: 16rem;
        height: 16rem;
        transform: translate(0, -70%);
    }
    /* End of Homepage -> Menu section */
}   


