@import url(colour.css);
@import url(typography.css);
@import url(spacing.css);
@import url(layout.css);

:root{
    font-family: var(--font-primary);
    color: var(--color-primary-text);
}

body{
    background-color: var(--color-background);
}
header, footer{
    color: var(--color-light-text);
    background-color: var(--color-cta);
    display: flex;
}

header{
    flex-direction: row;
    padding: 40px;
}
footer{
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}
.footer--column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.footer__element{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

#copyright{
    align-self: flex-end;
}

#navbar{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.navbtn{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;

    /* width: 127px;
    height: 61px; */

    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 58px;
    height: 62px;
}

section{
    padding: 40px;
}

#hero{
    display: flex;
    flex-direction: column;
    background-image: url(/UIDev-A3/images/Hero-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 753px;

    color:var(--color-dark-text);
    justify-content: center;
}

#hero > p{
    font-size: var(--text-lg);
}

#about{
    background-color: var(--color-sec-background);
}

.btn{
    /* auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 40px;
    gap:10px;
    margin-top: 2rem;

    width: 220px;
    height: 50px;
    border-radius: 10px;
    font-size: var(--text-lg);
    align-items: center;
    justify-content: center;
    color:var(--color-dark-text)
}

.btn--hero{
    background-color: var(--color-hover);
}

a{
    text-decoration: none;
}

/* sidebar */
.sidebar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sidebar{
    flex-basis:40rem;
    flex: 1;
}
.not-sidebar{
    flex-basis:0;
    flex-grow:999;
    max-width: 40%;
}

.about__cta{
    padding: 2em;
}

.about__image{
    padding: 4em;
    width: 588px;
    border-radius: 5rem;
}

.white-overlay{
    background-color: rgba(255, 255, 255, 0.55);
    width: 100%;
    height: 85.25%;
    position:absolute;
    left: 0px;
    top: 142px;
}

.stack-top{
    z-index: 9;
}