@import url(colour.css);
@import url(spacing.css);
:root{
    /*Body*/
    --font-primary:'Noto Sans', sans-serif;
    /*Heading*/
    --font-heading: 'Vesper Libre', serif;
    /*Base values*/
    --text-base-size: 1.5rem;

    /* Type scale */
    --text-scale-ratio: 1.50;
    --text-scale-ratio-cta: 1.25;
    /* Web captions & References 20px*/
    --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
    /* Web paragraph 24px*/
    --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
    /* Web CTA 30px*/
    --text-lg: calc(var(--text-base-size) * var(--text-scale-ratio-cta));
    /* Web Subheading 45px*/
    --text-xl: calc(var(--text-base-size) * var(--text-scale-ratio-cta) * var(--text-scale-ratio));
    /* Web H2 67.5px*/
    --text-xl: calc(var(--text-base-size) * var(--text-scale-ratio-cta) * var(--text-scale-ratio) * var(--text-scale-ratio));
    /* Web H1 101.3px*/
    --text-xxl: calc(var(--text-base-size) * var(--text-scale-ratio-cta) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));


    /* Font-weight */
    /* Light */
    --font-light: 300;
    /* Regular */
    --font-regular: 400;
    /* Medium */
    --font-medium: 500;
    /* Semibold */
    --font-semibold: 600;
    /* Bold */
    --font-bold: 700;
}


@media screen and (min-width: 320px) and (max-width:1023px) {

    :root{
    /*Base values*/
    --text-base-size: 0.80rem;
    /* Mob Type Scale */
    --text-scale-ratio: 1.25;
    --text-scale-ratio-cta: 1.2;        
    }
}

/* Heading changes */
h1, h2, h3 {
    font-family: var(--font-heading);
    margin-bottom: var(--space-sm);
    line-height: var(--heading-line-height) ;
}
h1{
    font-size: var(--text-xxl);
    font-weight: var(--font-bold);
}

h2{
    font-size: var(--text-xl);
    font-weight: var(--font-semibold);
}
h3{
    font-weight:var(--font-semibold);
}

.font__cta{
    font-size: var(--text-lg);
    font-family:var(--font-primary);
    font-weight: var(--font-medium);
    font-size: var(--text-lg);
    line-height: var(--body-line-height);
    text-align: center;
}

p{
    font-family: var(--font-primary);
    font-size: var(--text-md);
    margin-bottom: var(--space-md);
    line-height: var(--body-line-height);
    font-weight: var(--font-regular);
}
