@import url(colour.css);
@import url(spacing.css);
:root{
    /*Body*/
    --font-primary:'Noto Sans', sans-serif;
    /*Heading*/
    --font-heading: 'Vesper Libre', serif;
    /*Base values*/
    --text-base-size: 1.5rem;

    /* Type scale */
    --text-scale-ratio: 1.50;
    --text-scale-ratio-cta: 1.25;
    /* Web captions & References */
    --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
    /* Web paragraph */
    --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
    /* Web CTA */
    --text-lg: calc(var(--text-base-size) * var(--text-scale-ratio-cta));
    /* Web Subheading */
    --text-xl: calc(var(--text-base-size) * var(--text-scale-ratio-cta) * var(--text-scale-ratio));
    /* Web H2 */
    --text-xl: calc(var(--text-base-size) * var(--text-scale-ratio-cta) * var(--text-scale-ratio) * var(--text-scale-ratio));
    /* Web H1 */
    --text-xxl: calc(var(--text-base-size) * var(--text-scale-ratio-cta) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

}


@media screen and (min-width: 320px) and (max-width:1023px) {

    :root{
    /*Base values*/
    --text-base-size: 0.80rem;
    /* Mob Type Scale */
    --text-scale-ratio: 1.25;
    --text-scale-ratio-cta: 1.2;        
    }
}

/* Heading changes */
h1, h2, h3 {
    font-family: var(--font-heading);
    margin-bottom: var(--space-sm);
    line-height: var(--heading-line-height) ;
}
h1{
    font-size: var(--text-xxl);
}

h2{
    font-size: var(--text-xl);
}

p{
    font-family: var(--font-primary);
    font-size: var(--text-md);
    margin-bottom: var(--space-md);
    line-height: var(--body-line-height);
}
